@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


.ubah {
    margin-top: 170px;
    margin-left: 725px;
    font-family: "roboto";
    font-size: 50px;
}

input[name="baru"] {
    margin: 20px;
    margin-left: 650px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    height: 98px;
    width: 500px;
    border-radius: 20px;
    color: #0C5256;
    opacity: 70%;
}

input[name="konfirmasi"]{
    margin: 20px;
    margin-left: 650px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    height: 98px;
    width: 500px;
    border-radius: 20px;
    color: #0C5256;
    opacity: 70%;
}

::placeholder{
    color: #0C5256;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 24px;
    padding-left: 20px;
}

.tombol {
    margin-left: 650px;
    margin-top: 50px;
    height: 55px;
    width: 500px;
    border-radius: 44px;
    background-color: #0C5256;
}

#lupaPassword {
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 13px;
    margin-left: 200px;
    border: none;
    background-color: #0C5256;
    color: aliceblue;
    font-weight: bold;
}