@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.gambar {
    background-image: url("lupa.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 49px;
    margin-top: 150px;
    margin-left: 800px;
}

.judul {
    margin-left: 770px;
    font-family: "roboto";
    font-size: 50px;
}

input[name="email"] {
    margin-left: 760px;
    height: 50px;
    width: 370px;
    border-radius: 20px;
}

::placeholder{
    color: #0C5256;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 24px;
    padding-left: 20px;
    
}

.tombol {
    margin-left: 890px;
    margin-top: 20px;
    height: 55px;
    width: 120px;
    border-radius: 44px;
    background-color: #0C5256;
}

#lupaPassword {
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    border: none;
    background-color: #0C5256;
    color: aliceblue;
    font-weight: bold;
}